.row {
    padding: 0 19.2px;

    &-content {
        display: flex;
        align-items: center;
        padding: 8px 0;
        border-bottom: 1px solid #4b4b4b;
    }

    &:last-child &-content {
        border-bottom: none;
    }

    &-loading-rank,
    &-rank {
        width: 28px;
        height: 28px;
        line-height: 28px;
        margin-right: 12px;
        text-align: center;
    }

    &-loading-name,
    &-name {
        height: 28px;
        line-height: 28px;
        margin-right: auto;
        max-width: 45%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &-loading-name {
        width: 96px;
    }

    &-loading-percentage,
    &-percentage {
        height: 28px;
        line-height: 28px;
    }

    &-loading-percentage {
        width: 60px;
    }

    &-type {
        color: #fff;
        width: 48px;
        height: 28px;
        line-height: 28px;
        border-radius: 4px;
        text-align: center;
    }
}

@media (max-width: 346px) {
    .row {
        &-loading-rank,
        &-rank {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .row-hover {
        cursor: pointer;

        &:hover {
            background-color: #363636;
        }
    }
}
