.table,
.table-loading {
    width: auto;
    margin: auto;
    border-collapse: collapse;
    border-radius: 4px;
    background-color: #1b1b1b;
    box-shadow: 0 0 0 1px #4b4b4b;
    box-sizing: border-box;

    tr {
        td,
        th {
            vertical-align: middle;
            padding: 8px;
            text-align: center;
            white-space: nowrap;

            &:not(:last-child) {
                border-right: 1px solid #4b4b4b;
            }

            a {
                color: #d6d6d6;
            }

            .img {
                width: 40px;
                height: 40px;
            }
        }

        &:not(:last-child) td,
        th {
            border-bottom: 1px solid #4b4b4b;
        }

        .sort-asc,
        .sort-desc {
            display: inline-block;
            border-color: transparent;
            border-width: 6px;
            border-style: solid;
            cursor: pointer;
        }

        .sort-asc {
            border-bottom-width: 0;
            border-top-color: #777777;
            &.active {
                border-top-color: #d6d6d6;
            }
        }

        .sort-desc {
            border-top-width: 0;
            border-bottom-color: #777777;
            margin-bottom: 4px;
            &.active {
                border-bottom-color: #d6d6d6;
            }
        }
    }
}

.table-loading {
    tr {
        th:nth-child(1),
        td:nth-child(1) {
            width: 49px;
        }
        th:nth-child(2),
        td:nth-child(2) {
            width: 57px;
        }
        th:nth-child(3),
        td:nth-child(3) {
            width: 97px;
        }
        th:nth-child(4),
        td:nth-child(4) {
            width: 130px;
        }
        th:nth-child(5),
        td:nth-child(5) {
            width: 44.83px;
        }
        th:nth-child(6),
        td:nth-child(6),
        th:nth-child(7),
        td:nth-child(7),
        th:nth-child(8),
        td:nth-child(8),
        th:nth-child(9),
        td:nth-child(9),
        th:nth-child(10),
        td:nth-child(10) {
            width: 49px;
        }

        td {
            height: 63px;
        }
    }
}
