.pr-app {
    min-height: 100vh;
    position: relative;
    padding: 64px 0 160px;

    .pr-app-season-selector {
        margin-bottom: 16px;
    }

    .pr-app-list {
        width: 100%;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .pr-app {
        .pr-app-season-selector {
            display: none;
        }

        .pr-app-list {
            width: 80%;
        }
    }
}

@media (min-width: 992px) {
    .pr-app {
        .pr-app-list {
            width: 60%;
        }
    }
}
