.app {
    min-height: 100vh;
    position: relative;
    padding: 64px 0 160px;

    &-season-selector {
        margin-bottom: 16px;
    }
}

@media (min-width: 768px) {
    .app {
        &-season-selector {
            display: none;
        }
    }
}
