.pr-baseStat-row {
    width: 100%;
    padding: 0 19.2px;

    .row-content {
        display: flex;
        align-items: center;
        padding: 8px 0;
        border-bottom: 1px solid #4b4b4b;
    }

    &:last-child .row-content {
        border-bottom: none;
    }

    .row-name {
        width: 50px;
    }

    .row-value,
    .row-loading-value {
        width: 44px;
        height: 28px;
        line-height: 28px;
        padding: 0 4px;
        margin-right: 16px;
        text-align: right;
    }

    .row-loading-value-rect,
    .row-value-rect {
        width: calc(100% - 110px);
        height: 28px;
        line-height: 28px;
    }

    .row-loading-value-rect {
        width: calc((100% - 118px) / 2);
    }

    .row-value-rect-content {
        height: 100%;
        border-radius: 4px;
        background-color: #272727;
    }
}
