.pr-loading-block {
    background-color: #272727;
    border-radius: 4px;
    animation: loading-block 1s linear 0s infinite alternate;
}

@keyframes loading-block {
    from {
        background-color: #272727;
    }
    to {
        background-color: #333333;
    }
}
