.pr-percentage-row {
    padding: 0 19.2px;

    .row-content {
        display: flex;
        align-items: center;
        padding: 8px 0;
        border-bottom: 1px solid #4b4b4b;
    }

    &:last-child .row-content {
        border-bottom: none;
    }

    .row-loading-rank,
    .row-rank {
        width: 28px;
        height: 28px;
        line-height: 28px;
        margin-right: 12px;
        text-align: center;
    }

    .row-loading-name,
    .row-name {
        height: 28px;
        line-height: 28px;
        margin-right: auto;
    }

    .row-loading-name {
        width: 96px;
    }

    .row-loading-percentage,
    .row-percentage {
        height: 28px;
        line-height: 28px;
    }

    .row-loading-percentage {
        width: 60px;
    }
}

@media (min-width: 768px) {
}
