.info {
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #1b1b1b;

    &-name {
        margin: 0;
        font-size: 18px;
    }

    &-loading-name {
        width: 140px;
        height: 26px;
        margin-right: 8px;
    }

    &-loading-rank {
        width: 80px;
        height: 26px;
        margin-right: auto;
    }

    &-type {
        width: 80px;
        height: 26px;
        line-height: 26px;
        border-radius: 4px;
        text-align: center;
        color: white;

        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    &-img {
        width: 90px;
        height: 90px;
        margin: 0 12px 0 0;
        padding: 4px;

        &-focus {
            border: 2px solid #5e5e5e;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &-weakness-table {
        display: table;
        width: 100%;
        min-width: 990px;
        border: 1px solid #5e5e5e;
        border-collapse: collapse;

        .info-table-tr {
            display: table-row;
        }

        .info-table-td {
            display: table-cell;
            width: 5.55%;
            height: 26px;
            border: 1px solid #5e5e5e;
            text-align: center;
        }
    }
}
