.pr-pm-list {
    border-radius: 4px;
    background-color: #1b1b1b;
    overflow: hidden;

    .pm-list-title {
        font-size: 16px;
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
