.list {
    border-radius: 4px;
    background-color: #1b1b1b;
    overflow: hidden;

    &-title {
        font-size: 16px;
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 768px) {
    .rank-page-list {
        ul {
            height: 270px;
            overflow-y: auto;
        }
    }
}
