.pr-modal-mask {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    min-width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1040;
    animation: modal-mask-fade-in 0.2s linear;
}

.pr-modal-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: calc(100% - 30px);
    min-height: 60px;
    border-radius: 4px;
    background-color: #1b1b1b;
    box-shadow: 0 0 0 3px rgb(125, 125, 125);
    animation: modal-top-fade-in 0.3s linear;

    .header {
        display: flex;
        align-items: center;
        padding: 16px;

        .title {
            margin: 0 auto 0 0;
        }

        .close-btn {
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            user-select: none;

            img {
                display: block;
            }
        }
    }

    .body {
        padding: 16px;
    }
}

@media (min-width: 576px) {
    .pr-modal-modal {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .pr-modal-modal {
        width: 60%;
    }
}

@media (min-width: 992px) {
    .pr-modal-modal {
        width: 610px;
    }
}

@keyframes modal-top-fade-in {
    from {
        opacity: 0.4;
        transform: translate(-50%, -70%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes modal-mask-fade-in {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
