.row {
    &-container {
        display: block;
        width: 100%;
        padding: 0 19.2px;
        background-color: inherit;
        transition: background-color 0.3s;
    }

    &-link {
        color: inherit;
        text-decoration: none;
    }

    &-content {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        padding: 16px 0;
        border-bottom: 1px solid #4b4b4b;
        overflow: hidden;
    }

    &:last-child &-content {
        border-bottom: none;
    }

    &-loading-rank,
    &-rank {
        width: 30px;
        height: 50px;
        line-height: 50px;
        margin-right: 12px;
        font-size: 16px;
        text-align: center;
    }

    &-loading-img,
    &-img {
        width: 50px;
        height: 50px;
        margin: 0 12px 0 0;
    }

    &-loading-id {
        width: 33.33px;
        height: 12px;
        margin-bottom: 12px;
    }

    &-loading-name {
        width: 53.33px;
        height: 16px;
    }

    &-info {
        flex-wrap: wrap;
        margin-right: auto;
    }

    &-loading-type,
    &-type {
        width: 64px;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        text-align: center;
        border-radius: 4px;
        color: #fff;

        &:first-child {
            margin-bottom: 8px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 321px) {
    .row {
        &-loading-rank,
        &-rank,
        &-loading-img,
        &-img {
            margin-right: 6px;
        }
    }
}

@media (min-width: 464px) {
    .row {
        &-loading-rank,
        &-rank {
            width: 45px;
            height: 60px;
            line-height: 60px;
            margin-right: 12px;
            font-size: 20px;
        }

        &-loading-img,
        &-img {
            width: 60px;
            height: 60px;
            margin-right: 12px;
        }

        &-loading-id {
            width: 50px;
            height: 20px;
            margin-bottom: 10px;
        }

        &-loading-name {
            width: 80px;
            height: 24px;
        }

        &-loading-type,
        &-type {
            width: 96px;
            height: 26px;
            line-height: 26px;
            font-size: 16px;

            &:first-child {
                margin-bottom: 8px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: 768px) {
    .row {
        &-container:not(&-container-loading):hover {
            background-color: #363636;
            cursor: pointer;
        }
    }

    .rank-page-row {
        .row-content {
            padding: 6px 0;
        }

        .row-loading-rank,
        .row-rank {
            height: 40px;
            width: 34px;
            line-height: 40px;
            margin-right: 6px !important;
        }

        .row-loading-img,
        .row-img {
            width: 40px;
            height: 40px;
            margin-right: 6px !important;
        }

        .row-loading-id {
            margin-bottom: 4px;
        }
    }
}
