

@media (min-width: 1200px), (min-width: 768px) and (max-width: 991px){
    .rank-data-page-sm-pmrow {
        .pm-row-loading-rank,
        .pm-row-rank {
            margin-right: 6px!important;
        }
    
        .pm-row-loading-img,
        .pm-row-img {
            margin-right: 6px!important;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .rank-data-page-pmrow {
        .pm-row-loading-rank,
        .pm-row-rank {
            margin-right: 6px!important;
        }
    
        .pm-row-loading-img,
        .pm-row-img {
            margin-right: 6px!important;
        }
    }
}